.input-group input, .custom-select{
    background-color: #F4F6F9;
}


.logout{
    color: #c2c7d0;
    cursor: pointer;
    margin-top: 0.45rem;
    margin-left: 10px !important;
    font-size: 1.05rem;
}
.logout:hover{
    color: black;
    text-decoration: underline;
}