// Datatables
table.dataTable
{
    border-spacing: 1px !important;
    margin: 0px;
    width: 100% !important;
}
.dataTables_wrapper .dataTables_length select{
    padding: 2px;
}

.dataTables_wrapper .dataTables_filter input{
    padding: 2px !important;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 100 !important;
}

table.dataTable.no-footer{
    border-bottom: 2px solid #17A2B8;
}
//end Datatables

// Table
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #17A2B8;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {

}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
// endtable